<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<h1>Welcome to Address book, <%= @user.user_first_name %></h1>
		<p>You have successfully signed up for Address Book.</p>
		<p>Visit <%= @url %> to log in</p>
		<p>Please use the email address and password you signed up with to log in.</p> 
		<p>Thanks again for signing up!</p>
	</body>
</html>