body {
	margin: 0;
	padding: 0;
	margin-top: 200px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.body-wrapper {
	max-width: 80%;
	margin: auto;
}

footer {

}

.clear:after {
	content: "";
	clear: both;
	display: table;
}