* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	padding: 0;
	margin-bottom: 50px;
	background: #efefef;
	color: #2f4f22;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.body-wrapper {
	max-width: 80%;
	margin: auto;
}

footer {

}

.clear:after {
	content: "";
	clear: both;
	display: table;
}

@media (min-width: 769px) {
	.body-wrapper {
		max-width: 900px;
		margin: 0 auto;
	}
}
