

.nav-links {
	z-index: 1;
	padding-bottom: 15px;
	width: 100%;
}

.nav-links h1 {
	font-weight: normal;
	font-size: 2.25em;
	text-align: center;
}

.nav-links a,
.nav-links a:visited {
	color: #2f4f22;
}

.nav-links a:hover {
	color: #429e1e;
}

.nav-links a {
	font-size: 1.5em;	
	position: fixed;
	bottom: 15px;
}

.nav-left {
	left: 15px;
}

.nav-right {
	right: 15px;
}

.nav-wide {
	display: none;
}

.register-mobile:hover {
	content: "Register";
}

@media (min-width: 769px) {
	.nav-links {
		max-width: 768px;
		margin: auto;
	}

	.nav-bar {
		width: 100%;
		background: #d2d8e7;
		top: 0;
		border-bottom: 1px solid;
		border-top: 1px solid;
	}

	.nav-links a {
		
		display: inline-block;
		padding: 5px 10px;
		margin-bottom: 10px;
		border: 1px solid;
		border-radius: 5px;
		position: initial;
	}
	.nav-left {
		float: left;
	}

	.nav-right {
		float: right;
	}

	.nav-wide {
		display: initial;
	}

	.nav-mobile {
		display: none;
	}
}

